html {
  text-size-adjust: 100%;
}

body {
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: WhiteSmoke;
  border-top: 0.3em solid Teal;
  padding-top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#current {
  color: Red;
}

nav .links a {
  padding-right: 40px;
  text-decoration: none;
  color: inherit;

}

.logo {
  margin-bottom: 20px;
}

.links {
  font-size: 15px;
}


section.title {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin: auto;
  max-width: 300px;
  padding-top: 3.5em;
}


.photos {
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
}


section.text {
  display: flex;
  max-width: 600px;
  margin: auto;

}

.modernlayouts {
  width: 500px;
  font-size: 14px;

}

.modernlayouts p {
  column-count: 3;
  font-size: 13px;
}

.whatsnew {
  width: 150px;
  font-size: 14px;
}

#viewrecent {
  color: inherit;
  font-size: 12px;
}



@media (max-width: 460px) {
  nav {
    flex-wrap: wrap;
  }

  #search {
    padding: 10px;
  }

  section.title {
    flex-wrap: wrap;
  }
}
